//
   Created by Sunny on 8/8/14.

extends ../layout
block content
    .container
        .row
            .col-lg-12
                .page-header
                    h1 Apply today!
            .col-lg-4
                .col-lg-12
                    legend Statics
                    ul.nav.nav-pills
                        li
                            a(href='#') Daily
                                span.badge #{daily}
                        li
                            a(href='#') Weekly
                                span.badge #{weekly}
                        li.active
                            a(href='#') Monthly
                                span.badge #{monthly}
                        li.active
                            a(href='#') Total
                                span.badge #{total}
                .col-lg-12
                    legend Pick One
                    .form-group
                        form(action="/user/#{user._id}/search", method="post")
                            .input-group
                                span.input-group-addon Q
                                input(type="text", name="name").form-control
                                span.input-group-btn
                                    button.btn.btn-default(type="submit") Search
                    a(href="/user/#{user._id}/dashboard").btn.btn-block.btn-primary My Profile
                    a(href="/user/#{user._id}/list").btn.btn-block.btn-warning Check List

            .col-lg-8
                legend Company Informations
                form.form-horizontal.well-lg#companyForm(action="/user/#{user._id}/apply", method="post")
                    .form-group
                        label.col-lg-2.control-label Name
                        .col-lg-10
                            input.col-lg-12(type="text", name="Cname",placeholder="Company Name")
                    .form-group
                        label.col-lg-2.control-label Title
                        .col-lg-10
                            input.col-lg-12(type="text", name="Ctitle", placeholder="Title")
                    .form-group
                        label.col-lg-2.control-label City
                        .col-lg-10
                            input.col-lg-12(type="text", name="Ccity", placeholder="City")
                    .form-group
                        label.col-lg-2.control-label State
                        .col-lg-10
                            select.form-control(name="Cstate", form="companyForm")#statesOptions
                    .form-group
                        label.col-lg-2.control-label Country
                        .col-lg-10
                            select.col-lg-10.form-control(name="Ccountry", form="companyForm")
                                option(value=USA) United states
                    .form-group
                        label.col-lg-2.control-label Requirement
                        .col-lg-10
                            textarea.form-control(name="Crequirement", row="5", type="text" form=companyForm)
                    button.btn.btn-lg.btn-primary(type="submit") Submit

    script(src="/javascripts/loadLocations.js")