//
   Created by Sunny on 8/8/14.

extends ../layout
block content
    .container
        .row
            .page-header
                h1 Company Detail
            .col-md-6.col-lg-6
                table.table.table-hover
                    tr
                        td Company
                        td #{position.name}
                    tr
                        td Title
                        td #{position.title}
                    tr
                        td Location
                        td #{position.place.city}, #{position.place.state}, #{position.place.country}
                    tr
                        td Apply Time
                        td #{position.applyDate.dateString}
                    tr
                        td Update Time
                        td #{position.updateDate.dateString}
                    tr
                        td Status
                        td#status #{position.result}
            .col-md-6.col-lg-6
                legend Requirement
                p #{position.requirement}

        a(href="../../#{userId}/list").btn.btn-lg.btn-primary back
    script(src="/javascripts/ListStatusTheme.js")