//Created by Sunny on 8/1/14.

extends ../layout
block content
    .container
        .row
            .col-lg-12
                .page-header
                    h1 Applied List
            .col-lg-12
                table.table.table-striped.table-hover
                    thead
                        tr
                            th Company
                            th Title
                            th City
                            th State
                            th Country
                            th: a(href="/user/#{userId}/sort/appDate/#{order}") Apply Date
                            th: a(href="/user/#{userId}/sort/updateDate/#{order}") Update Date
                            th Status
                            th Details
                            th Update
                            th Delete
                    tbody
                        each item in positions
                            tr
                                td #{item.name}
                                td #{item.title}
                                td #{item.place.city}
                                td #{item.place.state}
                                td #{item.place.country}
                                td #{item.applyDate.dateString}
                                td #{item.updateDate.dateString}
                                td#status #{item.result}
                                td: a.btn.btn-info.btn-sm(href="/user/#{userId}/company/#{item._id}") Details
                                td: div.btn-group
                                        button.btn.btn-warning.btn-sm.dropdown-toggle(type=button, data-toggle="dropdown") Update
                                        ul.dropdown-menu
                                            li: a.btn.btn-block.btn-warning(href="/user/#{userId}/update/#{item._id}/Phoned") Phoned
                                            li: a.btn.btn-block.btn-info(href="/user/#{userId}/update/#{item._id}/Code-tested") Code-tested
                                            li: a.btn.btn-block.btn-primary(href="/user/#{userId}/update/#{item._id}/On-sited") On-sited
                                            li: a.btn.btn-block.btn-danger(href="/user/#{userId}/update/#{item._id}/Declined") Declined
                                            li: a.btn.btn-block.btn-success(href="/user/#{userId}/update/#{item._id}/Offered") Offered
                                td: a.btn.btn-danger.btn-sm(href="/user/#{userId}/delete/#{item._id}") Delete

            a.btn.btn-lg.btn-primary(href="/user/#{userId}/apply") Back

    script(src="/javascripts/StatusTheme.js")