//Created by Sunny on 8/1/14.

extends ../layout
block content
    .container
        .row
            .col-lg-12
                .page-header
                    h1 Applied List
            .col-lg-12
                table.table.table-striped.table-hover
                    thead
                        tr
                            th Company
                            th Title
                            th City
                            th State
                            th Country
                            th Apply Date
                            th Update Date
                            th Status
                            th Details
                            th Update
                            th Delete
                    tbody
                        each item in positions
                            tr
                                td #{item.name}
                                td #{item.title}
                                td #{item.place.city}
                                td #{item.place.state}
                                td #{item.place.country}
                                td #{item.applyDate}
                                td #{item.updateDate}
                                td #{item.result}
                                td: a.btn.btn-info.btn-sm(href="/dashboard/#{userId}/company/#{item._id}") Details
                                td: div.btn-group
                                        button.btn.btn-warning.btn-sm.dropdown-toggle(type=button, data-toggle="dropdown") Update
                                        ul.dropdown-menu
                                            li: a.btn.btn-block.btn-warning(href="/dashboard/#{userId}/update/#{item._id}/Phoned") Phoned
                                            li: a.btn.btn-block.btn-info(href="/dashboard/#{userId}/update/#{item._id}/Code-tested") Code-tested
                                            li: a.btn.btn-block.btn-primary(href="/dashboard/#{userId}/update/#{item._id}/On-sited") On-sited
                                            li: a.btn.btn-block.btn-danger(href="/dashboard/#{userId}/update/#{item._id}/Declined") Declined
                                            li: a.btn.btn-block.btn-success(href="/dashboard/#{userId}/update/#{item._id}/Offered") Offered
                                td: a.btn.btn-danger.btn-sm(href="/dashboard/#{userId}/delete/#{item._id}") Delete
